
.charmap-wrap {
	display: inline;
}

#charmap-layout {
	position: absolute;
	inset: -1px;
}

#charmap-textarea {
	display: inline;
	width: var(--textarea-width);
	word-spacing: -1ch;
	/* overflow-y: scroll; */
}

#charmap-textarea:empty {
	width: 100% !important;
}

#charmap-textarea > * {
	display: inline;
	color: #150f1a;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	word-spacing: 0;
	font-family: "Ubuntu Mono";
	word-break: break-all;
	word-wrap: break-word;
	white-space: break-spaces;
	white-space-collapse: preserve;
	line-break: anywhere;
}

#charmap-textarea.disabled > * {
	user-select: none;
	cursor: col-resize !important;
}

#charmap-textarea p {
	padding: 4px 0px;
	background-image: linear-gradient(90deg, var(--tm-pri-sd) 50%, var(--tm-pri-vd) 50%);
	background-size: 2ch 100%;
	background-repeat: repeat-x;
	background-position-x: 5ch;
	cursor: pointer;
}

#charmap-textarea p:empty {
	display: none;
}

#charmap-textarea p::before {
	content: attr(enc) ":";
	display: inline;
	padding: 4px 0px;
	color: #150f1a8f;
	background-color: rgb(var(--cm-dbk-3));
	text-indent: -9px;
	text-transform: uppercase;
}

#charmap-textarea p:nth-of-type(3n + 1)::before {
	background-color: rgb(var(--cm-dbk-1));
}

#charmap-textarea p:nth-of-type(3n + 2)::before {
	background-color: rgb(var(--cm-dbk-2));
}

#charmap-textarea:not(.disabled) p:hover {
	box-shadow: inset 0px 0px 0px 1em rgba(var(--cm-dbk-3), 0.2);
}

#charmap-textarea:not(.disabled) p:nth-of-type(3n + 1):hover {
	box-shadow: inset 0px 0px 0px 1em rgba(var(--cm-dbk-1), 0.2);
}

#charmap-textarea:not(.disabled) p:nth-of-type(3n + 2):hover {
	box-shadow: inset 0px 0px 0px 1em rgba(var(--cm-dbk-2), 0.2);
}

#charmap-textarea i {
	z-index: 2;
	height: 1em;
	padding: 4px 0px;
}

#charmap-textarea i:empty:not(.left, .right):hover {
	background-color: var(--tm-acc-sl);
}

#charmap-textarea i:not(:empty) {
	padding-right: 1ch;
	background-color: var(--tm-pri-sl);
	background-image: linear-gradient(-45deg, transparent 45%, var(--tm-err-nm) 45%, var(--tm-err-nm) 55%, transparent 55%);
	background-size: 5px 5px;
	box-shadow: inset 0px 0px 0px 2px var(--tm-err-nm);
	cursor: pointer;
}

#charmap-textarea i:not(:empty):hover {
	background-image: linear-gradient(-45deg, var(--tm-err-nm) 45%, transparent 45%, transparent 55%, var(--tm-err-nm) 55%);
}

#charmap-textarea i.left, #charmap-textarea i.right {
	padding-right: 1ch;
	background-color: var(--tm-pri-sl);
}

#charmap-textarea i.left::before, #charmap-textarea i.right::before {
	content: "|";
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	width: 9px;
	font-family: pixeloid;
	font-weight: normal;
	font-style: normal;
	line-height: 26px;
	background-color: var(--tm-acc-nm);
	cursor: col-resize;
}

#charmap-textarea i.left::before {
	right: 0px;
	clip-path: var(--semirebbel-left-x3);
	text-indent: 4px;
}

#charmap-textarea i.right::before {
	left: 0px;
	clip-path: var(--semirebbel-right-x3);
	text-indent: 3px;
}

#charmap-textarea.disabled i {
	pointer-events: none;
}

#charmap-textarea p::selection {
	background-color: var(--tm-acc-nm);
}