
@font-face {
	font-family: pikopixel;
	src: url(../pikopixel.ttf);
}

@font-face {
	font-family: pixeloid;
	font-weight: 400;
	src: url(../pixeloid.ttf);
}

@font-face {
	font-family: pixeloid;
	font-weight: 900;
	src: url(../pixeloid-bold.ttf);
}

@font-face {
	font-family: doab8m;
	font-weight: 900;
	src: url(../../ttonightt-official/fonts/doa8bm.ttf);
}

@font-face {
	font-family: "Noto Mono";
	src: url(../NotoSansMono-VariableFont_wdth\,wght.ttf);
}

@font-face {
	font-family: Unifont;
	src: url(../unifont-15.0.06.ttf);
}

:root {
	--background: #74548d;
	--sidebar-bcg: #543869;

	--contrast: 0.6;
	--invertion: 0;

	--svg-pattern-color1: #4220a0;
	--svg-pattern-color2: #d81355;
}

html.preview:root {
	--contrast: 1;
}

html.invertion:root {
	--invertion: 1;
}

html {
	font-size: 9px;
}

body {
	background-color: var(--background);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

* {
	font-family: doab8m;
	font-weight: 900;
	position: relative;
	margin: 0px;
}

ul, ol {
	list-style: none;
	padding: 0px;
}

input, textarea, button {
	outline: none;
}

input[type=file]::file-selector-button {
	display: none;
}

canvas {
	display: block;
}

img {
	image-rendering: crisp-edges;
}

.red-to-eca99d {
	filter: hue-rotate(9deg) saturate(0.38) brightness(4.75);
}

.red-to-150f1a {
	filter: hue-rotate(273deg) saturate(0.4) brightness(0.25);
	/* background-color: hwb(276 6% 90%); */
}

/* BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS */

.btn, button {
	display: block;
	box-sizing: content-box;
	font-size: 1em;
	line-height: 1.2em;
	height: 1em;
	padding: 0.5em;
	text-align: center;
	color: #150f1a;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
	border: none;
	user-select: none;
	flex-shrink: 0;
	float: left;
	cursor: pointer;
}

.btn:hover, button:hover {
	background-color: #482f5c;
}

.btn:before, button:before {
	content: "";
	position: absolute;
	inset: 3px 100% 3px -3px;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

.btn:after, button:after {
	content: "";
	position: absolute;
	inset: 3px -3px 3px 100%;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

.btn:hover:after, button:hover:after, .btn:hover:before, button:hover:before {
	background-color: #482f5c;
}

.btn:active, button:active {
	top: 6px;
	color: #eca99d;
}

.btn:active, button:active, .btn:active:before, button:active:before, .btn:active:after, button:active:after {
	box-shadow: inset 0px 3px 0px #2d1f38;
}

.btn.square, button.square {
	width: 1em;
	flex-basis: 1em;
}

.btn.compact, button.compact {
	padding: 0.3em;
}

.btn.static-color, button.static-color {
	color: #150f1a;
}

input[type=checkbox] + label.btn:hover:active, input[type=radio] + label.btn:hover:active {
	color: inherit;
}

input[type=checkbox]:checked + label.btn:hover, input[type=radio]:checked + label.btn:hover {
	color: #eca99d;
}

select {
	width: 1ch;
	box-sizing: content-box;
	color: red;
	appearance: none;
	border: none;
}

.input-wrap {
	width: fit-content;
	height: fit-content;
	z-index: 0;
	float: left;
}

.input-wrap:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 3px;
	left: -3px;
	width: 3px;
	height: calc(100% - 6px);
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

.input-wrap:after {
	content: ">";
	color: #eca99d;
	line-height: 0px;
	position: absolute;
	z-index: -1;
	top: 15px;
	right: -3px;
	width: 15px;
	height: 3px;
	background-color: #3a2649;
	box-shadow: -3px 3px 0px #3a2649, -3px -3px 0px #3a2649, -6px 6px 0px #3a2649, -6px -6px 0px #3a2649, -9px 9px 0px #3a2649, -9px -9px 0px #3a2649, -12px 12px 0px #3a2649, -12px -12px 0px #3a2649,
				-2px 5px 0px 2px #25192e, -5px 8px 0px 2px #25192e, -8px 11px 0px 2px #25192e, -11px 14px 0px 2px #25192e, -14px 17px 0px 2px #25192e;
}

input {
	display: block;
	position: relative;
	width: calc(100% - 24px);
	height: 1em;
	padding: 0.5em;
	background-color: #3a2649;
	color: #150f1a;
	box-shadow: 0px 6px 0px #25192e;
	font-family: "Ubuntu Mono", monospace;
	font-weight: 600;
	font-size: 2rem;
	border: none;
	float: left;
}

.input-wrap input {
	width: calc(100% - 15px - 24px + 3px);
}

input:focus::placeholder {
	color: #150f1a;
}

input:hover {
	text-decoration: 2px underline solid;
}

input:focus {
	background-color: #2d1f38;
	box-shadow: 0px 6px 0px #25192e, inset 0px 0px 0px 3px #3a2649;
	color: #eca99d;
}

/* input[type=file] {
	display: none;
}

input[type=file] + label {
	display: block;
	width: fit-content;
	height: 23px;
	line-height: 23px;
	padding: 8px 12px;
	background-color: #3a2649;
	text-align: center;
	color: #150f1a;
	box-shadow: 0px 6px 0px #25192e;
	float: left;
	cursor: pointer;
}

input[type=file] + label:hover {
	box-shadow: 0px 6px 0px #25192e, inset 0px 0px 0px 3px #3a2649, inset 0px 6px 0px #25192e;
	line-height: 26px;
	background-color: #2d1f38;
}

input[type=file] + label:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -3px;
	width: 3px;
	height: calc(100% - 6px);
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

input[type=file] + label:after {
	content: "";
	position: absolute;
	top: 3px;
	right: -3px;
	width: 3px;
	height: calc(100% - 6px);
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

input[type=file].selected + label {
	box-shadow: 0px 6px 0px #25192e, 0px 0px 0px 3px #eca99d, 0px 6px 0px 3px #eca99d;
}

input[type=file].selected + label:hover {
	box-shadow: 0px 6px 0px #25192e, inset 0px 0px 0px 3px #3a2649, inset 0px 6px 0px #25192e, 0px 0px 0px 3px #eca99d, 0px 6px 0px 3px #eca99d;
}

input[type=file].selected + label:before {
	box-shadow: 0px 6px 0px #25192e, -3px 9px 0px #eca99d, -3px -3px 0px #eca99d;
}

input[type=file].selected + label:after {
	box-shadow: 0px 6px 0px #25192e, 3px 9px 0px #eca99d, 3px -3px 0px #eca99d;
} */

.controls-table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 2rem;
	gap: 1.4em;
}

.cassette-switch {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.controls-table > .cassette-switch {
	flex: 1;
}

/* .cassette-switch:not([content = ""]):before {
	content: attr(content);
	position: absolute;
	top: 0px;
	left: 0px;
	width: max-content;
	height: 0px;
	font-size: 16px;
	line-height: 14px;
	color: #25192e;
	overflow: hidden;
	transition: 0.16s steps(4, end);
	pointer-events: none;
} */

/* .cassette-switch:not([content = ""]):hover:before {
	height: 16px;
	top: -16px;
} */

.cassette-switch.highlight {
	box-shadow: 0px 6px 0px 3px #eca99d;
}

.controls-table > .fl1, .cassette-switch > .fl1 {
	flex-grow: 1;
	flex-basis: 100%;
}

.controls-table > .fl0, .cassette-switch > .fl0 {
	flex-grow: 0;
}

.controls-table > .wide {
	flex: 1 100% 0;
}

.cassette-switch input[type="checkbox"], .cassette-switch input[type="radio"], .cassette-switch input[type="button"], /* BUTTON INPUT ТРЕБА ЛІКВІДУВАТИ */
.controls-table input[type="checkbox"], .controls-table input[type="radio"], .controls-table input[type="button"] {
	display: none;
}

.cassette-switch button:last-child::before, .cassette-switch .btn:last-child::before {
	content: none;
}

.cassette-switch button:first-child::after, .cassette-switch .btn:first-child::after {
	content: none;
}

.cassette-switch label {
	display: block;
	padding: 0.5em;
	font-size: 2rem;
	height: 1em;
	color: #150f1a;
	text-align: center;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
	flex-grow: 1;
	/* flex-basis: content; */
	user-select: none;
	cursor: pointer;
}

.cassette-switch label:hover {
	background-color: #482f5c;
}

.cassette-switch label:hover:after, .cassette-switch label:hover:before {
	background-color: #482f5c !important;
}

.cassette-switch.compact label, .cassette-switch.compact button, .cassette-switch.compact .btn, .cassette-switch.compact input {
	padding: 0.3em;
}

.cassette-switch label.square {
	width: 1em;
}

.cassette-switch input:disabled + label {
	pointer-events: none;
	color: #150f1a7c;
}

.cassette-switch input:disabled + label * {
	opacity: 0.5;
}

.cassette-switch input:first-child + label:before {
	content: "";
	position: absolute;
	inset: 3px 100% 3px -3px;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

.cassette-switch label:last-child:after {
	content: "";
	position: absolute;
	inset: 3px -3px 3px 100%;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

.cassette-switch.highlight input:first-child + label {
	box-shadow: 0px 6px 0px #25192e, -6px 6px 0px #eca99d;
}

.cassette-switch.highlight input + label:last-child {
	box-shadow: 0px 6px 0px #25192e, 6px 6px 0px #eca99d;
}

.cassette-switch label img {
	display: block;
	image-rendering: pixelated;
}

input:checked + label,
input:not(:disabled):active + label {
	top: 6px;
}

.cassette-switch :checked + label,
.cassette-switch :not(:disabled):active + label {
	box-shadow: inset 4px 3px 0px #2d1f38;
}

.cassette-switch input:checked + label + input:checked + label,
.cassette-switch input:not(:disabled):active + label + input:checked + label,
.cassette-switch input:checked + label + input:not(:disabled):active + label {
	box-shadow: inset 0px 3px 0px #2d1f38;
}

.controls-table .highlight input:not(:disabled):active + label,
.controls-table .highlight input:checked + label {
	box-shadow: inset 4px 3px 0px #2d1f38, 0px -3px 0px #eca99d;
}

.controls-table input:first-child:checked + label,
.controls-table input:first-child:not(:disabled):active + label {
	box-shadow: inset 0px 3px 0px #2d1f38;
}

.controls-table input:checked + label:before,
.controls-table input:not(:disabled):active + label:before,
.controls-table input:checked + label:after,
.controls-table input:not(:disabled):active + label:after {
	box-shadow: inset 0px 3px 0px #2d1f38;
}

.cassette-switch.highlight input:first-child:checked + label,
.cassette-switch.highlight input:first-child:active + label {
	box-shadow: inset 0px 3px 0px #2d1f38, -6px 0px 0px #eca99d, 0px -3px 0px #eca99d;
}

.cassette-switch.highlight input:checked + label:last-child,
.cassette-switch.highlight input:active + label:last-child {
	box-shadow: inset 0px 3px 0px #2d1f38, 6px 0px 0px #eca99d, 0px -3px 0px #eca99d;
}

#popups {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, #000000c0 25%, #00000054 25%), linear-gradient(-45deg, #000000c0 25%, #00000054 25%), linear-gradient(45deg, #00000054 75%, #000000c0 75%), linear-gradient(-45deg, #00000054 75%, #000000c0 75%);
	background-size: 6px 6px;
	background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.popup {
	display: none;
	background-color: #543869;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	box-shadow: 0px 6px 0px #25192e, 0px 12px 0px #25192e;
}

#popups.visible, .popup.active {
	display: flex;
}

.popup h1 {
	color: #543869;
	font-size: 36px;
	position: absolute;
	max-width: calc(100% - 18px);
	bottom: calc(100% - 9px);
	left: 0px;
	z-index: -1;
	text-shadow: 0px 6px 0px #25192e, 0px 12px 0px #25192e;
	cursor: default;
}

.popup h1::selection {
	background-color: transparent;
	color: inherit;
}

.popup .content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.popup .content .input-wrap {
	width: 100%;
}

form.flagged {
	width: 50px;
	padding: 17px 0px 20px 0px;
	background-color: #482f5c;
}

form.flagged input {
	display: none;
}

form.flagged label {
	display: block;
	width: calc(100% - 10px);
	height: 21px;
	text-align: center;
	font-size: 2rem;
	padding: 12px 12px 12px 6px;
	line-height: 23px;
	margin-bottom: 9px;
	color: #1a0c0c;
	text-shadow: 3px 0px 0px #ac2020;
	box-shadow: 0px 3px 0px #861f1f;
	background-image: linear-gradient(180deg, #c52323 6px, #eb6138 6px, #eb6138 9px, #c52323 9px, #c52323 36px, #eb6138 36px, #eb6138 39px, #c52323 39px);
	transition: 0.2s steps(4, start);
	cursor: pointer;
}

form.flagged label::selection {
	background-color: transparent;
	color: inherit;
}

form.flagged label:last-child {
	margin-bottom: 0px;
}

form.flagged input:checked + label {
	padding: 12px 12px 12px 16px;
	width: 100%;
}

form.flagged label:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -3px;
	width: 3px;
	height: 100%;
	box-shadow: 0px 3px 0px #861f1f;
	background-image: linear-gradient(180deg, #c52323 6px, #eb6138 6px, #eb6138 9px, #c52323 9px, #c52323 36px, #eb6138 36px, #eb6138 39px, #c52323 39px);
}

form.flagged label:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 21px;
	right: -3px;
	width: 24px;
	height: 3px;
	background-color: #c52323;
	box-shadow: 3px 3px 0px #c52323, 6px 6px 0px #c52323, 9px 9px 0px #c52323, 12px 12px 0px #c52323, 15px 15px 0px #eb6138, 18px 18px 0px #c52323, 21px 21px 0px #c52323,
				3px -3px 0px #c52323, 6px -6px 0px #c52323, 9px -9px 0px #c52323, 12px -12px 0px #c52323, 15px -15px 0px #eb6138, 18px -18px 0px #c52323, 21px -21px 0px #c52323,
				3px 0px 0px #861f1f, 6px -3px 0px #861f1f, 9px -6px 0px #861f1f, 12px -9px 0px #861f1f, 15px -12px 0px #861f1f, 18px -15px 0px #861f1f, 21px -18px 0px #861f1f, 21px 24px 0px #861f1f;
}

.popup i#this-close {
	position: absolute;
	top: -21px;
	right: 0px;
	width: 9px;
	height: 9px;
	padding: 3px;
	font-size: 2rem;
	line-height: 6px;
	color: #fae1db;
	font-style: normal;
	cursor: pointer;
}

.popup i#this-close:hover {
	color: #1a0c0c;
	background-color: #eca99d;
}

#onetitle {
	display: none;
	position: fixed;
	z-index: 9;
	overflow: hidden;
	animation: 0.25s step-end 0s normal forwards onetitle-visibility;
}

#onetitle span {
	width: max-content;
	left: 0px;
	margin: 3px 6px;
	padding: 9px 12px;
	color: #e6d2cf;
	background-color: #1f153f;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat, repeat, repeat;
	background-image: linear-gradient(0deg, #eca99d, #eca99d), linear-gradient(0deg, #eca99d, #eca99d), linear-gradient(0deg, #eca99d, #eca99d), linear-gradient(0deg, #eca99d, #eca99d), radial-gradient(ellipse at 50% 50%, #140d2c00 50%, #140d2c 80%), linear-gradient(45deg, #140d2c 25%, transparent 25%), linear-gradient(-45deg, #140d2c 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #140d2c 75%), linear-gradient(-45deg, transparent 75%, #140d2c 75%);
	background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 100% 100%, 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 3px, 100% 3px, 0px calc(100% - 3px), 100% calc(100% - 3px), 0px 0px, 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	box-shadow: 0px 0px 0px 3px #eca99d;
	float: left;
}

#onetitle::selection {
	color: inherit;
	background-color: transparent;
}

#onetitle span:before, #onetitle span:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 3px;
	width: 3px;
	height: calc(100% - 6px);
	background-color: #140d2c;
}

#onetitle span:before {
	left: -3px;
	box-shadow: -3px 3px 0px #eca99d, -3px -3px 0px #eca99d;
}

#onetitle span:after {
	right: -3px;
	box-shadow: 3px 3px 0px #eca99d, 3px -3px 0px #eca99d;
}

#onetitle.visible {
	display: block;
}

#onetitle[data-anim="right-switch"] span { /* НЕ ПРАЦЮЄ!!! */
	animation: 0.25s steps(10, end) 0s reverse both right-switch;
}

#onetitle[data-anim="right-switch"].visible span {
	animation: 0.25s steps(10, end) 0s normal both right-switch;
}

/* @keyframes onetitle-visibility {
	start {
		visibility: hidden;
	}
	end {
		visibility: visible;
	}
} */

@keyframes right-switch {
	0% {
		left: -50%;
		opacity: 0;
	}
	30% {
		left: -35%;
		opacity: 0.5;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}