
.canvas-wrap svg polyline {
	fill: none !important;
}

.canvas-wrap svg #paired-pattern > rect {
	fill-opacity: 0.8;
	stroke: none !important;
}

.canvas-wrap svg #paired-pattern .down {
	fill: var(--svg-pattern-color1);
	stroke: var(--svg-pattern-color1);
}

.canvas-wrap svg #paired-pattern .up {
	fill: var(--svg-pattern-color2);
	stroke: var(--svg-pattern-color2);
}

.canvas-wrap svg polygon {
	fill: url(#paired-pattern);
	fill-opacity: 0.6;
	stroke: white;
}

.canvas-wrap svg polygon, .canvas-wrap svg g polygon {
	cursor: pointer;
}

.canvas-wrap svg polygon:hover, .canvas-wrap svg g:hover polygon {
	fill-opacity: 1;
}