
:root { /* <<< by the way that's the best strategy board game ever! */
	--contrast: 0.6;
	--invertion: 0;

	--cm-dbk-1: 200, 109, 166;
	--cm-dbk-2: 26, 155, 242;
	--cm-dbk-3: 241, 209, 15;
}

html.preview:root {
	--contrast: 1;
}

html.invertion:root {
	--invertion: 1;
}

body {
	background-color: var(--tm-pri-vl);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.popup[data-popup=open] .content > * {
	width: calc(100% - 23px);
	min-width: 180px;
}

.popup[data-popup=open] p {
	max-width: 300px;
	width: max-content !important;
	padding-right: 10px;
	margin-right: 20px;
	word-break: keep-all;
	color: #150f1a;
}

.popup[data-popup=open] p:empty {
	display: none;
}

.popup[data-popup=open] p:after {
	display: block;
	position: absolute;
	left: 100%;
	bottom: 3px;
	overflow: hidden;
	content: ">>";
	animation: arrows 1s step-start infinite;
}

@keyframes arrows {
	50% {width: 1ch}
}

.popup[data-popup=edit] .controls-table {
	width: 260px;
}

.popup[data-popup = help] {
	width: 450px;
}

.popup[data-popup = help] ul > li {
	margin: 0.8em 0px;
}



header {
	width: 100%;
	height: 97px;
	margin: 0px;
	border-bottom: 3px solid var(--tm-sec-nm);
	float: left;
}

header *::selection {
	background-color: transparent;
	color: inherit;
}

header > * {
	position: absolute;
}

header ul {
	display: flex;
	flex-direction: row;
	gap: 9px;
	justify-content: flex-start;
}

header ul.actions {
	top: 0px;
	left: 0px;
	right: 0px;
}

header ul.actions li {
	padding: 0.25em 0.5em;
	background-color: var(--tm-sec-nm);
	color: #221511;
	font-size: 2rem;
	line-height: 1em;
	text-shadow: 3px 0px var(--tm-acc-nm);
	cursor: pointer;
}

header ul.actions li.rseparator {
	margin-left: auto;
}

header ul.actions li.aseparator {
	margin-left: 20px;
}

header ul.actions li:hover {
	top: -3px;
}

header ul.actions li:active {
	top: 0px;
}

header ul.actions li:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -3px;
	width: 3px;
	height: calc(100% - 3px);
	background-color: var(--tm-sec-nm);
}

header ul.actions li:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: -6px;
	width: 3px;
	right: -12px;
	height: calc(100% - 3px);
	background-color: var(--tm-sec-nm);
	border-right: 9px solid var(--tm-sec-dk);
	box-shadow: -3px 3px 0px var(--tm-sec-dk);
	cursor: pointer;
}

main {
	width: calc(100% - 300px);
	height: calc(100% - 100px);
	float: left;
}

.workspace {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	background-image: linear-gradient(45deg, var(--tm-pri-lt) 25%, transparent 25%), linear-gradient(-45deg, var(--tm-pri-lt) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--tm-pri-lt) 75%), linear-gradient(-45deg, transparent 75%, var(--tm-pri-lt) 75%);
	background-size: 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	overflow: hidden;
	float: left;
	cursor: crosshair;
}

html.preview .workspace {
	background-color: #ffffff;
	background-image: none;
}

html.preview.invertion .workspace {
	background-color: #000000;
}

.canvas-wrap {
	width: fit-content;
	height: fit-content;
	filter: contrast(var(--contrast)) invert(var(--invertion));
}

.canvas-wrap canvas {
	position: absolute;
	inset: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	image-rendering: crisp-edges;
}

.workspace #infocorner {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	padding: 4px 6px;
	font-size: 15px;
	line-height: 15px;
	color: var(--tm-sec-nm);
	text-shadow: 2px 2px 0px var(--tm-pri-ud);
	pointer-events: none;
}

html.preview .workspace #infocorner {
	display: none;
}

aside {
	width: 300px;
	height: calc(100% - 100px);
	background-color: var(--tm-pri-lt);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	float: left;
}

.toolbar {
	position: absolute;
	z-index: 3;
	inset: 0px;
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#tools {
	margin: 12px 13px 12px 12px;
}

aside input[type=checkbox]:checked + label:before {
	box-shadow: inset 0px 3px 0px var(--tm-pri-ud);
}

aside input[type=checkbox]:checked + label:after {
	box-shadow: inset 0px 3px 0px var(--tm-pri-ud);
}

aside .topbar, aside .topbar + * {
	padding: 20px;
	border-bottom: 3px dotted var(--tm-pri-vl);
}

aside .topbar input[type=checkbox]:checked + label {
	top: 6px;
	box-shadow: inset 0px 3px 0px var(--tm-pri-ud), 6px 0px 0px var(--tm-acc-nm), -6px 0px 0px var(--tm-acc-nm), 0px 0px 0px 3px var(--tm-acc-nm);
}

aside .middlebar {
	justify-content: space-around;
}

aside .middlebar .cassette-switch {
	flex-grow: 0;
}

aside .bottombar {
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: nowrap;
	padding: 20px;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
}

aside .bottombar .cassette-switch {
	flex: 0;
}

aside .bottombar form {
	padding: 0px 6px;
}

aside .bottombar form input:checked + label {
	z-index: 1;
}

aside .decoded-wrap {
	flex-grow: 1;
	margin: -3px;
	padding: 6px;
	justify-self: stretch;
	background-image: linear-gradient(45deg, var(--tm-pri-sd) 25%, transparent 25%), linear-gradient(-45deg, var(--tm-pri-sd) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--tm-pri-sd) 75%), linear-gradient(-45deg, transparent 75%, var(--tm-pri-sd) 75%);
	background-size: 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	scrollbar-width: none;
	overflow-y: scroll;
}

/* aside .decoded-wrap form {
	position: absolute;
	left: 0px;
	bottom: 100%;
} */

.charmap-wrap {
	display: inline;
}

#charmap-layout {
	position: absolute;
	inset: -1px;
}

#charmap-textarea {
	display: inline;
	width: var(--textarea-width);
	word-spacing: -1ch;
	/* overflow-y: scroll; */
}

#charmap-textarea:empty {
	width: 100% !important;
}

#charmap-textarea > * {
	display: inline;
	color: #150f1a;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	word-spacing: 0;
	font-family: "Ubuntu Mono";
	word-break: break-all;
	word-wrap: break-word;
	white-space: break-spaces;
	white-space-collapse: preserve;
	line-break: anywhere;
}

#charmap-textarea.disabled > * {
	user-select: none;
	cursor: col-resize !important;
}

#charmap-textarea p {
	padding: 4px 0px;
	background-image: linear-gradient(90deg, var(--tm-pri-sd) 50%, var(--tm-pri-vd) 50%);
	background-size: 2ch 100%;
	background-repeat: repeat-x;
	background-position-x: 5ch;
	cursor: pointer;
}

#charmap-textarea p:empty {
	display: none;
}

#charmap-textarea p::before {
	content: attr(enc) ":";
	display: inline;
	padding: 4px 0px;
	color: #150f1a8f;
	background-color: rgb(var(--cm-dbk-3));
	text-indent: -9px;
	text-transform: uppercase;
}

#charmap-textarea p:nth-of-type(3n + 1)::before {
	background-color: rgb(var(--cm-dbk-1));
}

#charmap-textarea p:nth-of-type(3n + 2)::before {
	background-color: rgb(var(--cm-dbk-2));
}

#charmap-textarea:not(.disabled) p:hover {
	box-shadow: inset 0px 0px 0px 1em rgba(var(--cm-dbk-3), 0.2);
}

#charmap-textarea:not(.disabled) p:nth-of-type(3n + 1):hover {
	box-shadow: inset 0px 0px 0px 1em rgba(var(--cm-dbk-1), 0.2);
}

#charmap-textarea:not(.disabled) p:nth-of-type(3n + 2):hover {
	box-shadow: inset 0px 0px 0px 1em rgba(var(--cm-dbk-2), 0.2);
}

#charmap-textarea i {
	z-index: 2;
	height: 1em;
	padding: 4px 0px;
}

#charmap-textarea i:empty:not(.left, .right):hover {
	background-color: var(--tm-acc-sl);
}

#charmap-textarea i:not(:empty) {
	padding-right: 1ch;
	background-color: var(--tm-pri-sl);
	background-image: linear-gradient(-45deg, transparent 45%, var(--tm-err-nm) 45%, var(--tm-err-nm) 55%, transparent 55%);
	background-size: 5px 5px;
	box-shadow: inset 0px 0px 0px 2px var(--tm-err-nm);
	cursor: pointer;
}

#charmap-textarea i:not(:empty):hover {
	background-image: linear-gradient(-45deg, var(--tm-err-nm) 45%, transparent 45%, transparent 55%, var(--tm-err-nm) 55%);
}

#charmap-textarea i.left, #charmap-textarea i.right {
	padding-right: 1ch;
	background-color: var(--tm-pri-sl);
}

#charmap-textarea i.left::before, #charmap-textarea i.right::before {
	content: "|";
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	width: 9px;
	font-family: pixeloid;
	font-weight: normal;
	font-style: normal;
	line-height: 26px;
	background-color: var(--tm-acc-nm);
	cursor: col-resize;
}

#charmap-textarea i.left::before {
	right: 0px;
	clip-path: var(--semirebbel-left-x3);
	text-indent: 4px;
}

#charmap-textarea i.right::before {
	left: 0px;
	clip-path: var(--semirebbel-right-x3);
	text-indent: 3px;
}

#charmap-textarea.disabled i {
	pointer-events: none;
}

#charmap-textarea p::selection {
	background-color: var(--tm-acc-nm);
}



menu {
	position: fixed;
	top: 200px;
	left: 300px;
	background-color: var(--tm-sec-nm);
	font-size: 16px;
	padding: 0px 0px 3px 0px;
}

menu::before {
	content: "";
	position: absolute;
	inset: 3px 100% 3px -3px;
	background-color: var(--tm-sec-nm);
}

menu::after {
	content: "";
	position: absolute;
	inset: 3px -3px 0px 100%;
	background-color: var(--tm-sec-nm);
}

menu h1 {
	z-index: 1;
	font-size: 1em;
	font-family: "Ubuntu Mono";
	line-height: 1.2em;
	padding: 3px;
	color: #fff0ee;
	background-color: var(--tm-acc-nm);
	box-shadow: 4.5px 1.5px 0px -1.5px var(--tm-acc-nm), -4.5px 1.5px 0px -1.5px var(--tm-acc-nm);
	margin-bottom: 3px;
}

menu li {
	list-style: none;
	line-height: 1em;
	font-weight: 900;
	font-family: "Ubuntu Mono";
	padding: 3px;
	cursor: pointer;
}

menu li:hover {
	background-color: var(--tm-acc-nm);
}

select::after {
	content: "";
	position: absolute;
	inset: 0px;
	z-index: 1;
	background-color: red;
}

.chartable {
	position: fixed;
	z-index: 10;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: var(--tm-sec-nm);
}

.chartable .closer {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: -6px;
	width: 1em;
	height: 1em;
	padding: 0.25em;
	font-size: 3rem;
	letter-spacing: -0.2ch;
	line-height: 1em;
	text-align: center;
	background-color: var(--tm-sec-nm);
	border-color: var(--tm-acc-nm);
	border-style: solid;
	border-width: 0px 6px 6px 6px;
	color: #150f1a;
	cursor: pointer;
}

table {
	font-size: 2rem;
}

table * {
	font-size: 1em;
	font-family: "Ubuntu Mono";
	color: #150f1a;
}

col:nth-child(2n) {
	background-color: var(--tm-acc-nm);
}

col.selected {
	background-color: #150f1a;
}

colgroup input {
	display: none;
}

colgroup input:checked + col {
	background-color: #150f1a;
}

table tr.group td > * {
	margin-bottom: 1em;
}

table tr:not(.group, :first-of-type):hover, table tr.group td > *:hover {
	background-color: #150f1a;
}

table tr.group td > *:last-child {
	margin-bottom: 0px;
}

table td, table th {
	padding: 0.5em;
	text-align: center;
	vertical-align: bottom;
}

table .vertical {
	display: block;
	text-align: left;
	max-height: 18vw;
	writing-mode: vertical-rl;
	transform: rotateZ(180deg);
}

table mark {
	padding: 3px 0px;
	background-color: #150f1a;
	color: white;
}