
:root { /* <<< by the way that's the best strategy board game ever! */
	--contrast: 0.6;
	--invertion: 0;
}

html.preview:root {
	--contrast: 1;
}

html.invertion:root {
	--invertion: 1;
}

body {
	background-color: var(--tm-pri-vl);
	width: 100vw;
	height: 100vh;
}

.popup[data-popup=open] .content > * {
	width: calc(100% - 23px);
	min-width: 180px;
}

.popup[data-popup=open] p {
	max-width: 300px;
	width: max-content !important;
	padding-right: 10px;
	margin-right: 20px;
	word-break: keep-all;
	color: #150f1a;
}

.popup[data-popup=open] p:empty {
	display: none;
}

.popup[data-popup=open] p:after {
	display: block;
	position: absolute;
	left: 100%;
	bottom: 3px;
	overflow: hidden;
	content: ">>";
	animation: arrows 1s step-start infinite;
}

@keyframes arrows {
	50% {width: 1ch}
}

.popup[data-popup=edit] .controls-table {
	width: 260px;
}

.popup[data-popup = help] {
	width: 450px;
}

.popup[data-popup = help] ul > li {
	margin: 0.8em 0px;
}



header {
	width: 100%;
	height: 97px;
	margin: 0px;
	border-bottom: 3px solid var(--tm-sec-nm);
}

header *::selection {
	background-color: transparent;
	color: inherit;
}

header > * {
	position: absolute;
}

header ul {
	display: flex;
	flex-direction: row;
	gap: 9px;
	justify-content: flex-start;
}

header ul.actions {
	top: 0px;
	left: 0px;
	right: 0px;
}

header ul.actions li {
	padding: 0.25em 0.5em;
	background-color: var(--tm-sec-nm);
	color: #221511;
	font-size: 2rem;
	line-height: 1em;
	text-shadow: 3px 0px var(--tm-acc-nm);
	cursor: pointer;
}

header ul.actions li.rseparator {
	margin-left: auto;
}

header ul.actions li.aseparator {
	margin-left: 20px;
}

header ul.actions li:hover {
	top: -3px;
}

header ul.actions li:active {
	top: 0px;
}

header ul.actions li:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -3px;
	width: 3px;
	height: calc(100% - 3px);
	background-color: var(--tm-sec-nm);
}

header ul.actions li:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: -6px;
	width: 3px;
	right: -12px;
	height: calc(100% - 3px);
	background-color: var(--tm-sec-nm);
	border-right: 9px solid var(--tm-sec-dk);
	box-shadow: -3px 3px 0px var(--tm-sec-dk);
	cursor: pointer;
}

.workbench {
	width: 100%;
	height: calc(100% - 100px);
}

.workspace {
	width: calc(100% - 300px);
	height: 100%;
	flex-grow: 1;
	background-image: linear-gradient(45deg, var(--tm-pri-lt) 25%, transparent 25%), linear-gradient(-45deg, var(--tm-pri-lt) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--tm-pri-lt) 75%), linear-gradient(-45deg, transparent 75%, var(--tm-pri-lt) 75%);
	background-size: 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	overflow: hidden;
	float: left;
	cursor: crosshair;
}

html.preview .workspace {
	background-color: #ffffff;
	background-image: none;
}

html.preview.invertion .workspace {
	background-color: #000000;
}

.canvas-wrap {
	width: fit-content;
	height: fit-content;
	filter: contrast(var(--contrast)) invert(var(--invertion));
	background-color: red;
}

.canvas-wrap canvas {
	position: absolute;
	inset: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	image-rendering: crisp-edges;
}

.workspace #infocorner {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	padding: 4px 6px;
	font-size: 15px;
	line-height: 15px;
	color: var(--tm-sec-nm);
	text-shadow: 2px 2px 0px var(--tm-pri-ud);
	pointer-events: none;
}

html.preview .workspace #infocorner {
	display: none;
}

aside {
	width: 300px;
	height: 100%;
	background-color: var(--tm-pri-lt);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	float: left;
}

aside #tools {
	position: absolute;
	z-index: 3;
	top: 20px;
	right: 100%;
	width: 44px;
	height: fit-content;
}

aside #tools input {
	display: none;
}

aside #tools label {
	width: calc(100% - 15px);
	height: 27px;
	padding: 6px 6px 6px 6px;
	margin-left: 3px;
	line-height: 28px;
	text-align: center;
	color: var(--tm-acc-nm);
	background-color: var(--tm-pri-sd);
	box-shadow: inset 0px 3px 0px var(--tm-pri-vd), inset -3px 0px 0px #0d0a1117, inset -9px 0px 0px #0d0a1117, inset -18px 0px 0px #0d0a1117, inset -30px 0px 0px #0d0a1117;
	float: left;
}

aside #tools input:not(:disabled) + label:hover {
	background-color: var(--tm-pri-sl);
	cursor: pointer;
}

aside #tools input:first-child + label {
	box-shadow: 0px 0px 0px var(--tm-pri-ud), inset -3px 0px 0px #0d0a1117, inset -9px 0px 0px #0d0a1117, inset -18px 0px 0px #0d0a1117, inset -30px 0px 0px #0d0a1117;
}

aside #tools label:last-child {
	box-shadow: inset 0px 3px 0px var(--tm-pri-vd), 0px 6px 0px var(--tm-pri-vd), inset -3px 0px 0px #0d0a1117, inset -9px 0px 0px #0d0a1117, inset -18px 0px 0px #0d0a1117, inset -30px 0px 0px #0d0a1117;
}

aside #tools label:before {
	content: "";
	width: 3px;
	height: calc(100% - 6px);
	position: absolute;
	top: 3px;
	left: -3px;
	background-color: var(--tm-pri-sd);
	box-shadow: 0px 6px 0px var(--tm-pri-ud);
}

aside #tools input:not(:disabled) + label:hover:before {
	background-color: var(--tm-pri-sl);
}

aside #tools label img {
	height: 100%;
}

aside #tools input:checked + label {
	top: -6px;
	background-color: var(--tm-pri-lt);
	box-shadow: 0px 6px 0px var(--tm-pri-ud);
}

aside #tools input:checked + label:before {
	background-color: var(--tm-pri-lt);
}

aside input[type=checkbox]:checked + label:before {
	box-shadow: inset 0px 3px 0px var(--tm-pri-ud);
}

aside input[type=checkbox]:checked + label:after {
	box-shadow: inset 0px 3px 0px var(--tm-pri-ud);
}

aside .topbar, aside .topbar + * {
	padding: 20px;
	border-bottom: 3px dotted var(--tm-pri-vl);
}

aside .topbar input[type=checkbox]:checked + label {
	top: 6px;
	box-shadow: inset 0px 3px 0px var(--tm-pri-ud), 6px 0px 0px var(--tm-acc-nm), -6px 0px 0px var(--tm-acc-nm), 0px 0px 0px 3px var(--tm-acc-nm);
}

aside .middlebar {
	justify-content: space-around;
}

aside .middlebar .cassette-switch {
	flex-grow: 0;
}

aside .bottombar {
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: nowrap;
	padding: 20px;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
}

aside .bottombar .cassette-switch {
	flex: 0;
}

aside .bottombar form {
	padding: 0px 6px;
}

aside .bottombar form input:checked + label {
	z-index: 1;
}

aside .decoded-wrap {
	flex-grow: 1;
	margin: -3px;
	padding: 6px;
	justify-self: stretch;
	background-image: linear-gradient(45deg, var(--tm-pri-sd) 25%, transparent 25%), linear-gradient(-45deg, var(--tm-pri-sd) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--tm-pri-sd) 75%), linear-gradient(-45deg, transparent 75%, var(--tm-pri-sd) 75%);
	background-size: 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	scrollbar-width: none;
	overflow-y: scroll;
}

/* aside .decoded-wrap form {
	position: absolute;
	left: 0px;
	bottom: 100%;
} */

#charmap-textarea {
	width: var(--textarea-width);
	overflow-x: clip;
	/* overflow-y: scroll; */
	float: left;
}

#charmap-textarea:empty {
	width: 100% !important;
}

#charmap-textarea, #charmap-textarea > * {
	color: #150f1a;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	font-family: "Ubuntu Mono";
	word-break: break-all;
	word-wrap: break-word;
	white-space: break-spaces;
	white-space-collapse: preserve;
	line-break: anywhere;
}

#charmap-textarea.disabled > * {
	user-select: none;
	cursor: col-resize !important;
}

#charmap-textarea p {
	display: inline;
	padding: 4px 0px;
	background-image: linear-gradient(90deg, var(--tm-pri-sd) 50%, var(--tm-pri-vd) 50%);
	background-size: 2ch 100%;
	background-repeat: repeat-x;
	cursor: pointer;
}

#charmap-textarea p.fixed {
	background-image: linear-gradient(90deg, var(--tm-pri-nm) 50%, var(--tm-pri-dk) 50%);
}

/* #charmap-textarea p:last-of-type {
	box-shadow: 1px 1px 0px 1px var(--tm-pri-sl);
} */

#charmap-textarea p:empty {
	display: none;
}

#charmap-textarea p::before {
	content: "";
	position: absolute;
	z-index: 1;
	inset: 0px 0px -1px 0px;
	width: 300px;
	transform: translateX(-100%);
	border-bottom: 2px solid var(--tm-pri-sl);
	pointer-events: none;
}

#charmap-textarea p:first-of-type::before, #charmap-textarea br + p::before {
	content: none;
}

#charmap-textarea p::after {
	content: "";
	position: absolute;
	inset: -1px -1px -1px -1px;
	border: 2px solid var(--tm-pri-sl);
	border-right-width: 0px;
	border-bottom-width: 0px;
	pointer-events: none;
}

#charmap-textarea:not(.disabled) p:hover::after {
	text-shadow: 0px -2em 0px var(--tm-acc-nm);
}

#charmap-textarea p:first-of-type::after {
	left: 0px;
	border: none;
}

#charmap-textarea:not(.disabled) p:hover {
	box-shadow: inset 0px 0px 0px 1em var(--tm-acc-nm)2d;
}

#charmap-textarea wbr + p::after, #charmap-textarea wbr + i + p::after {
	content: none;
}

#charmap-textarea wbr + i + p::before {
	content: attr(encoding);
	font-family: pixeloid;
	font-weight: 900;
	font-size: 9px;
	line-height: 16px;
	text-align: right;
	color: red;
	word-break: keep-all;
	word-wrap: normal;
}

#charmap-textarea:not(.disabled) wbr + i + p:hover::before {
	text-shadow: 0px -2em 0px var(--tm-acc-nm);
}

#charmap-textarea p[encoding=Term] {
	opacity: 0.5;
}

#charmap-textarea p[encoding=Alphanum] {
	background-size: 4ch 100%;
}

#charmap-textarea p[encoding=Num] {
	background-size: 6ch 100%;
}

#charmap-textarea i {
	z-index: 2;
	position: absolute;
	margin: -1px -3px;
	width: 6px;
	height: 1em;
	padding: 5px 0px;
	background-color: #150f1a;
	cursor: col-resize;
}

#charmap-textarea.ins i {
	background-color: transparent;
}

#charmap-textarea i:first-of-type {
	box-shadow: inset -1px 0px 0px 2px var(--tm-acc-nm), inset 0px 6px 0px var(--tm-acc-nm), inset 0px -6px 0px var(--tm-acc-nm);
}

#charmap-textarea.ins i:first-of-type {
	box-shadow: inset 2px 0px 0px 2px var(--tm-acc-nm), inset 0px 6px 0px var(--tm-acc-nm), inset 0px -6px 0px var(--tm-acc-nm);
}

#charmap-textarea i:first-of-type::before {
	content: "";
	position: absolute;
	inset: 3px 100% 3px -3px;
	background-color: var(--tm-acc-nm);
}

#charmap-textarea i:last-of-type {
	box-shadow: inset 1px 0px 0px 2px var(--tm-acc-nm), inset 0px 6px 0px var(--tm-acc-nm), inset 0px -6px 0px var(--tm-acc-nm);
}

#charmap-textarea.ins i:last-of-type {
	box-shadow: inset -2px 0px 0px 2px var(--tm-acc-nm), inset 0px 6px 0px var(--tm-acc-nm), inset 0px -6px 0px var(--tm-acc-nm);
}

#charmap-textarea i:last-of-type::after {
	content: "";
	position: absolute;
	inset: 3px -3px 3px 100%;
	background-color: var(--tm-acc-nm);
}

#charmap-textarea i:first-child, #charmap-textarea p:last-of-type + i {
	display: none;
}

#charmap-textarea.disabled i {
	pointer-events: none;
}

#charmap-textarea i:first-of-type + p {
	box-shadow: inset 0px 0px 0px 1em var(--tm-acc-nm)2d;
	cursor: grab;
}

#charmap-textarea:not(.disabled) i:first-of-type + p:hover {
	box-shadow: inset 0px 0px 0px 1em var(--tm-acc-nm)54;
}

#charmap-textarea b {
	display: none;
	font-weight: 600;
}

#charmap-textarea.disabled b {
	display: inline;
	background-color: red;
}

#charmap-textarea p::selection {
	background-color: var(--tm-acc-nm);
}

#charmap-textarea input {
	display: inline;
	width: 1ch;
	height: 18px;
	padding: 0px;
	background-color: transparent !important;
	line-height: 28px;
	color: #150f1a;
	caret-color: var(--tm-acc-nm);
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 3px 0px var(--tm-acc-nm);
	float: none;
}

/* #charmap-textarea input:not(:focus) {
	position: absolute;
	z-index: 1;
} */

#charmap-textarea input:not(:valid) {
	background-color: #7b1734 !important;
}

#charmap-textarea input::selection {
	background-color: var(--tm-acc-nm);
	color: #150f1a;
}

.bottombar .cassette-switch button:first-child {
	writing-mode: vertical-lr;
	width: 1em;
	height: unset;
	align-self: stretch;
	font-family: pixeloid;
	text-align: center;
	font-size: 1rem;
}

.bottombar .cassette-switch input {
	min-width: 4ch;
}

.bottombar .cassette-switch input:not(:valid) {
	color: red;
}

.bottombar .cassette-switch button {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#markup-controllers {
	flex-wrap: nowrap;
}

#charmap-block-encoding + label {
	min-width: 0px;
	flex: 1 1 0px;
	margin: 0px 3px;
	text-align: left;
}

#charmap-block-encoding + label > span {
	position: static;
	display: inline-block;
	width: calc(100% - 1ch);
	text-overflow: ".";
	word-wrap: normal;
	word-break: keep-all;
	overflow: hidden;
}

#charmap-block-encoding + label > span::after {
	/* content: url("../img/tridown.png"); */
	content: "v";
	position: absolute;
	right: 0.25em;
}

.bottombar #charmap-mode[value = "0"] ~ #markup-controllers {
	display: none;
}

.bottombar #charmap-mode[value = "1"] ~ #charedit-controllers {
	display: none;
}

menu {
	position: fixed;
	top: 200px;
	left: 300px;
	background-color: var(--tm-sec-nm);
	font-size: 16px;
	padding: 0px 0px 3px 0px;
}

menu::before {
	content: "";
	position: absolute;
	inset: 3px 100% 3px -3px;
	background-color: var(--tm-sec-nm);
}

menu::after {
	content: "";
	position: absolute;
	inset: 3px -3px 0px 100%;
	background-color: var(--tm-sec-nm);
}

menu h1 {
	z-index: 1;
	font-size: 1em;
	font-family: "Ubuntu Mono";
	line-height: 1.2em;
	padding: 3px;
	color: #fff0ee;
	background-color: var(--tm-acc-nm);
	box-shadow: 4.5px 1.5px 0px -1.5px var(--tm-acc-nm), -4.5px 1.5px 0px -1.5px var(--tm-acc-nm);
	margin-bottom: 3px;
}

menu li {
	list-style: none;
	line-height: 1em;
	font-weight: 900;
	font-family: "Ubuntu Mono";
	padding: 3px;
	cursor: pointer;
}

menu li:hover {
	background-color: var(--tm-acc-nm);
}

select::after {
	content: "";
	position: absolute;
	inset: 0px;
	z-index: 1;
	background-color: red;
}

.chartable {
	position: fixed;
	z-index: 10;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: var(--tm-sec-nm);
}

.chartable .closer {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: -6px;
	width: 1em;
	height: 1em;
	padding: 0.25em;
	font-size: 3rem;
	letter-spacing: -0.2ch;
	line-height: 1em;
	text-align: center;
	background-color: var(--tm-sec-nm);
	border-color: var(--tm-acc-nm);
	border-style: solid;
	border-width: 0px 6px 6px 6px;
	color: #150f1a;
	cursor: pointer;
}

table {
	font-size: 2rem;
}

table * {
	font-size: 1em;
	font-family: "Ubuntu Mono";
	color: #150f1a;
}

col:nth-child(2n) {
	background-color: var(--tm-acc-nm);
}

col.selected {
	background-color: #150f1a;
}

colgroup input {
	display: none;
}

colgroup input:checked + col {
	background-color: #150f1a;
}

table tr.group td > * {
	margin-bottom: 1em;
}

table tr:not(.group, :first-of-type):hover, table tr.group td > *:hover {
	background-color: #150f1a;
}

table tr.group td > *:last-child {
	margin-bottom: 0px;
}

table td, table th {
	padding: 0.5em;
	text-align: center;
	vertical-align: bottom;
}

table .vertical {
	display: block;
	text-align: left;
	max-height: 18vw;
	writing-mode: vertical-rl;
	transform: rotateZ(180deg);
}

table mark {
	padding: 3px 0px;
	background-color: #150f1a;
	color: white;
}