

.popup[data-popup=open] .content > * {
	width: calc(100% - 23px);
	min-width: 180px;
}

.popup[data-popup=open] p {
	max-width: 300px;
	width: max-content !important;
	padding-right: 10px;
	margin-right: 20px;
	word-break: keep-all;
	color: #150f1a;
}

.popup[data-popup=open] p:empty {
	display: none;
}

.popup[data-popup=open] p:after {
	display: block;
	position: absolute;
	left: 100%;
	bottom: 3px;
	overflow: hidden;
	content: ">>";
	animation: arrows 1s step-start infinite;
}

@keyframes arrows {
	50% {width: 1ch}
}

.popup[data-popup=edit] .controls-table {
	width: 260px;
}



header {
	width: 100%;
	height: 97px;
	margin: 0px;
	border-bottom: 3px solid #e6bdb6;
}

header *::selection {
	background-color: transparent;
	color: inherit;
}

header > * {
	position: absolute;
}

header ul {
	display: flex;
	flex-direction: row;
	gap: 9px;
	justify-content: flex-start;
}

header ul.actions {
	left: 20px;
	top: 0px;
	width: calc(100% - 40px);
}

header ul.actions li {
	padding: 2px 7px 2px 10px;
	background-color: #e6bdb6;
	color: #1a0f0c;
	text-shadow: 3px 0px #eca99d;
	cursor: pointer;
}

header ul.actions li.rseparator {
	margin-left: auto;
}

header ul.actions li.aseparator {
	margin-left: 20px;
}

header ul.actions li:hover {
	top: -3px;
}

header ul.actions li:active {
	top: 0px;
}

header ul.actions li:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -3px;
	width: 3px;
	height: calc(100% - 3px);
	background-color: #e6bdb6;
}

header ul.actions li:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: -6px;
	width: 3px;
	right: -12px;
	height: calc(100% - 3px);
	background-color: #e6bdb6;
	border-right: 9px solid #c0948c;
	box-shadow: -3px 3px 0px #c0948c;
	cursor: pointer;
}

header .tab-nav-wrap {
	height: 35px;
	max-width: 100%;
	bottom: 0px;
	overflow-x: auto;
	scrollbar-width: none;
}

header ul#tab-navs {
	width: max-content;
	height: 100%;
	padding: 0px 20px;
}

header ul#tab-navs li {
	z-index: 0;
	width: fit-content;
	height: 23px;
	margin-top: 3px;
	padding: 6px;
	word-break: keep-all;
	background-color: #cea39c;
	box-shadow: 9px 0px 0px #b88c86;
	cursor: pointer;
	float: left;
}

header ul#tab-navs li:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -3px;
	width: 3px;
	height: calc(100% - 3px);
	background-color: #cea39c;
}

header ul#tab-navs li:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 3px;
	right: -6px;
	width: 3px;
	right: -12px;
	height: calc(100% - 3px);
	background-color: #cea39c;
	border-right: 9px solid #b88c86;
	cursor: pointer;
}

header ul#tab-navs li.active {
	margin-top: 0px;
	background-color: #e6bdb6;
	box-shadow: 9px 0px 0px #c0948c;
	cursor: default;
}

header ul#tab-navs li.active:before, header ul#tab-navs li.active:after {
	background-color: #e6bdb6;
}

header ul#tab-navs li i#this-close {
	display: block;
	width: 9px;
	height: 9px;
	margin: 5px 0px 0px 3px;
	padding: 3px 3px 2px 3px;
	line-height: 5px;
	font-style: normal;
	cursor: pointer;
	float: right;
}

header ul#tab-navs li i#this-close:hover {
	background-color: #c0948c;
}

header ul#tab-navs li.active i#this-close:hover {
	background-color: #eca99d;
}

.workbench {
	width: 100%;
	height: calc(100% - 100px);
}

.workspace {
	width: calc(100% - 300px);
	height: 100%;
	flex-grow: 1;
	background-image: linear-gradient(45deg, #543869 25%, transparent 25%), linear-gradient(-45deg, #543869 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #543869 75%), linear-gradient(-45deg, transparent 75%, #543869 75%);
	background-size: 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	overflow: hidden;
	float: left;
	cursor: crosshair;
}

html.preview .workspace {
	background-color: #ffffff;
	background-image: none;
}

html.preview.invertion .workspace {
	background-color: #000000;
}

.canvas-wrap {
	width: 117px;
	height: 117px;
}

.canvas-wrap canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	filter: contrast(var(--contrast)) invert(var(--invertion));
	image-rendering: crisp-edges;
}

.canvas-wrap svg {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 100%;
}

html.preview .canvas-wrap svg {
	display: none !important;
}

.canvas-wrap svg.disabled {
	display: block;
	pointer-events: none;
}

.canvas-wrap svg.active {
	display: block;
	pointer-events: initial;
}

.workspace #infocorner {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	padding: 4px 6px;
	font-size: 15px;
	line-height: 15px;
	color: #e6bdb6;
	text-shadow: 2px 2px 0px #25192e;
	pointer-events: none;
}

html.preview .workspace #infocorner {
	display: none;
}

aside {
	width: 300px;
	height: 100%;
	background-color: var(--sidebar-bcg);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	float: left;
}

aside .tools {
	position: absolute;
	z-index: 3;
	top: 20px;
	right: 100%;
	width: 44px;
	height: fit-content;
}

aside .tools input {
	display: none;
}

aside .tools label {
	width: calc(100% - 15px);
	height: 27px;
	padding: 6px 6px 6px 6px;
	margin-left: 3px;
	line-height: 28px;
	text-align: center;
	color: #eca99d;
	background-color: #3a2649;
	box-shadow: inset 0px 3px 0px #2d1f38, inset -3px 0px 0px #0d0a1117, inset -9px 0px 0px #0d0a1117, inset -18px 0px 0px #0d0a1117, inset -30px 0px 0px #0d0a1117;
	float: left;
}

aside .tools input:not(:disabled) + label:hover {
	background-color: #482f5c;
	cursor: pointer;
}

aside .tools input:first-child + label {
	box-shadow: 0px 0px 0px #25192e, inset -3px 0px 0px #0d0a1117, inset -9px 0px 0px #0d0a1117, inset -18px 0px 0px #0d0a1117, inset -30px 0px 0px #0d0a1117;
}

aside .tools label:last-child {
	box-shadow: inset 0px 3px 0px #2d1f38, 0px 6px 0px #2d1f38, inset -3px 0px 0px #0d0a1117, inset -9px 0px 0px #0d0a1117, inset -18px 0px 0px #0d0a1117, inset -30px 0px 0px #0d0a1117;
}

aside .tools label:before {
	content: "";
	width: 3px;
	height: calc(100% - 6px);
	position: absolute;
	top: 3px;
	left: -3px;
	background-color: #3a2649;
	box-shadow: 0px 6px 0px #25192e;
}

aside .tools input:not(:disabled) + label:hover:before {
	background-color: #482f5c;
}

aside .tools label img {
	height: 100%;
	image-rendering: crisp-edges;
}

aside .tools input:checked + label {
	top: -6px;
	background-color: #543869;
	box-shadow: 0px 6px 0px #25192e;
}

aside .tools input:checked + label:before {
	background-color: #543869;
}

aside input[type=checkbox]:checked + label:before {
	box-shadow: inset 0px 3px 0px #25192e;
}

aside input[type=checkbox]:checked + label:after {
	box-shadow: inset 0px 3px 0px #25192e;
}

aside .topbar, aside .topbar + * {
	padding: 20px;
	border-bottom: 3px dotted #74548d;
}

aside #rotate-canvas-right img,
aside #rotate-canvas-left img {
	width: 15px;
	image-rendering: crisp-edges;
}

aside .topbar input[type=checkbox]:checked + label {
	top: 6px;
	box-shadow: inset 0px 3px 0px #25192e, 6px 0px 0px #eca99d, -6px 0px 0px #eca99d, 0px 0px 0px 3px #eca99d;
}

aside .bottombar {
	flex-grow: 1;
	padding: 20px;
	overflow: scroll;
}

aside #update-controller label {
	line-height: 33px;
}

aside #update-controller input[type=button] + label {
	flex-grow: 0;
}

aside #update-controller label img {
	width: 21px;
	image-rendering: crisp-edges;
}

aside .decoded-wrap {
	width: 95%;
	margin: -3px;
	padding: 6px;
	background-image: linear-gradient(#3a2649 100%, #3a2649 100%), linear-gradient(45deg, #3a2649 25%, transparent 25%), linear-gradient(-45deg, #3a2649 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #3a2649 75%), linear-gradient(-45deg, transparent 75%, #3a2649 75%);
	background-repeat: no-repeat, repeat, repeat, repeat, repeat;
	background-size: calc(100% - 12px) calc(100% - 12px), 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 6px 6px, 0px 0px, 0px 3px, 3px -3px, -3px 0px;
}

aside .decoded-wrap #decoded {
	width: 100%;
	min-height: 1.5em;
	padding: 0px;
	border: none;
	border-radius: 0px;
	font-size: 18px;
	font-weight: 600;
	color: transparent;
	font-family: "Ubuntu Mono";
	line-height: 27px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

aside #decoded:empty {
	width: auto;
	min-width: 1ch;
}

aside .decoded-wrap canvas {
	position: absolute;
	inset: 6px;
	height: calc(100% - 12px);
	background-color: #3a2649;
	color: #402c50;
	accent-color: #eca99d5b;
	image-rendering: crisp-edges;
}

aside #decoded p {
	display: inline;
	font-size: 18px;
	font-weight: 600;
	color: #150f1a;
	font-family: "Ubuntu Mono";
	padding: 0.25em 0px;
}

aside #decoded input {
	display: inline;
	width: auto;
	padding: 0px 0px 0.2em 0px;
	color: #150f1a;
	caret-color: #eca99d;
	text-decoration: none;
	background-color: transparent;
	box-shadow: none;
	float: none;

	border-top: 0.25em solid transparent;
	border-image-slice: 100 0 0 0;
	border-image-outset: 2px 0px 0px 0px;
	border-image-width: 6px 0px 0px 0px;
	border-image-repeat: stretch;
	border-image-source: conic-gradient(from 15deg at 50% 100%, transparent 0deg, transparent 332deg, #eca99d 332deg, #eca99d 360deg);
}

aside #decoded input:not(:focus) {
	position: absolute;
}

aside #decoded input:not(:valid) {
	background-color: #e2001362;
}

aside #decoded p::selection, aside #decoded input::selection {
	background-color: #eca99d;
	color: #150f1a;
}

aside #decoded::selection {
	background-color: #eca99d;
}

aside #decoded input.big {
	position: absolute;
	width: 5ch;
	margin-left: calc(-2ch - 3px);
	background-color: #3a2649;
	margin-top: calc(-1.5em + 1px);
	padding: 3px;

	box-shadow: 0px 0px 0px 1px #eca99d;
	border-top: none;
	border-image-slice: 0 0 24 0;
	border-image-outset: 0px 0px 6px 0px;
	border-image-width: 0px 0px 6px 0px;
}

/* aside #decoded input.big:focus {
	width: auto;
	padding: 3px;
	background-color: #2d1f38;
	color: #eca99d;
	margin: 0px calc(-4px - 3ch);
} */