@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*
	┌─────────────────────────────────────────┐
	├--------------PIXEL FONTS----------------┤
	└─────────────────────────────────────────┘
	*/
	
	/* FONTS WHICH EM SIZE = 9 PX */
	
	@font-face {
		font-family: pixeloid;
		font-weight: 400;
		src: url(../fonts/9x/9x-Pixeloid-CY-reg.ttf);
	}
	
	@font-face {
		font-family: pixeloid;
		font-weight: 900;
		src: url(../fonts/9x/9x-Pixeloid-CY-bld.ttf);
	}
	
	@font-face {
		font-family: pixeloid;
		font-weight: 900;
		src: url(../fonts/9x/9x-NineteenNinetySeven.ttf);
		unicode-range: U+40;
	}
	
	@font-face {
		font-family: doab8m;
		font-weight: 900;
		src: url(../fonts/9x/9x-DiaryOfAn8BitMage-CY.ttf);
	}
	
	@font-face {
		font-family: doab8m;
		font-weight: 900;
		src: url(../fonts/9x/9x-SuperLegendBoy.ttf);
		unicode-range: U+40;
	}
	
	@font-face {
		font-family: doab8m;
		font-weight: 900;
		src: url(../fonts/9x/9x-Pixeloid-CY-bld.ttf);
		unicode-range: U+0424, U+0444;
	}

	html {
		font-size: 9px;
	}

	*, *::before, *::after {
		position: relative;
		text-decoration-thickness: 2px;
	}

	input {
		background-color: transparent;
		line-height: 1em;
	}

	/* ICONS */
	
	/* @font-face {
		font-family: ttonicons;
		font-weight: normal;
		src: url();
	}
	
	i.tic {
		font-family: ttonicons;
		font-weight: normal;
		font-style: normal;
	} */

	h1 {
		font-size: 5rem;
		font-family: doab8m;
	}
	
	h2 {
		font-size: 4rem;
		font-weight: 900;
	}
	
	h3 {
		font-size: 4rem;
		font-family: doab8m;
	}
	
	h4 {
		font-size: 3rem;
		font-weight: 900;
	}
	
	h5 {
		font-size: 3rem;
		font-family: doab8m;
	}
	
	h6 {
		font-size: 2rem;
		font-weight: 900;
	}
	
	b {
		font-weight: 900;
	}
	
	em {
		font-family: doab8m;
		font-style: normal;
	}

	u, a {
		text-decoration-thickness: 0.11111em;
	}

	img {
		image-rendering: crisp-edges;
	}

	input:focus {
		outline: none;
	}

	input::placeholder {
		opacity: 0.6;
		color: inherit;
	}

	button:focus-within {
		outline: 3px dashed rgb(228, 204, 243);
	}

	div {
		box-sizing: content-box;
	}
}

@layer components {

	.Button-Box {
		box-sizing: content-box;
		z-index: 1;
		height: 1em;
		padding: 0.5em;
		font-size: 1em;
		line-height: 1.2em;
		text-align: center;
		text-indent: 0.11111em;
		white-space: nowrap;
		word-break: keep-all;
		user-select: none;
		cursor: pointer;
	}

	.Underlay {
		position: absolute;
		z-index: -1;
		inset: 0;
	}

	/* .Button, .Rabbet {
		position: relative;
		box-sizing: content-box;
		display: inline-block;
		padding: 0.5em;
		margin-bottom: 6px;
		background-color: transparent;
		color: var(--tut-color-1);
		font-family: doab8m;
		font-size: 1em;
		line-height: 1.2em;
		text-align: center;
		text-indent: 0.11111em;
		filter: drop-shadow(0 6px 0 var(--tut-color-8));
	}

	.Button {
		height: 1em;
		white-space: nowrap;
		word-break: keep-all;
		user-select: none;
		cursor: pointer;
	}

	.Button::after, .Rabbet::after {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 0px;
		background-color: var(--tut-color-7);
		clip-path: theme(clipPath[rabbet-015]);
	}

	.Button-l::after {
		clip-path: theme(clipPath[rabbet-l-015]);
	}

	.Button-m::after {
		clip-path: none;
	}

	.Button-r::after {
		clip-path: theme(clipPath[rabbet-r-015]);
	}

	.Button:hover::after {
		background-color: var(--tut-color-6);
	}

	.Button:active, .Button.-Pressed {
		top: 6px;
		color: var(--tut-color-1);
		filter: drop-shadow(0 -3px 0 var(--tut-color-8));
		transform: translateY(6px);
	}

	.Button.-Comp {
		font-family: pixeloid;
		padding: 0.33333em;
	}

	.Button.-Ultra-Comp {
		font-family: pixeloid;
		padding: 0.22222em;
	}



	.Cassette .Button::after {
		clip-path: none;
	}

	.Cassette .Button:first-child::after {
		clip-path: theme(clipPath.rabbet-l-015);
	}

	.Cassette .Button:last-child::after {
		clip-path: theme(clipPath.rabbet-r-015);
	} */

	/* .keybd {
		top: 0px;
		margin: 0px 3px 6px 3px;
		line-height: 0.88888em;
		filter: none !important;
	}

	.keybd::before {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 2px -3px -6px -3px;
		clip-path: var(--rabbet-x3);
		background-color: var(--tm-acc-nm);
		box-shadow: inset 6px 0px 0px var(--tm-sec-nm), inset -6px 0px 0px var(--tm-sec-dk);
	}

	.keybd:active {
		top: 4px;
	}

	.keybd::after {
		box-shadow: inset 0 -2px 0 3px #eca99d2c;
	}

	.keybd:active::after {
		top: 0px;
		box-shadow: inset 0 -4px 0 6px #eca99d2c, inset 0 -2px 0 3px #eca99d2c;
	}

	.keybd:active::before {
		top: 0px;
		bottom: -2px;
		box-shadow: none;
	} */

	.Menu-box {
		position: absolute;
		top: calc(100% + 6px);
		z-index: 100;
		padding: 0.5em;
		align-self: center;
		width: fit-content;
	}

	.Menu-box::before {
		content: "";
		position: absolute;
		display: block;
		inset: -6px calc(50% - 0.5rem);
		width: 9px;
		height: 6px;
		background-color: theme(colors.sec.4);
		clip-path: polygon(0 3px, 3px 3px, 3px 0, 6px 0, 6px 3px, 9px 3px, 9px 6px, 0 6px);
	}

	.Menu-box::after {
		content: "";
		position: absolute;
		display: block;
		inset: 0;
		z-index: -1;
		background-color: theme(colors.sec.4);
		clip-path: theme(clipPath.rabbet.015);
	}

	.Menu-box > div {
		cursor: pointer;
		margin-bottom: 0.25em;
	}

	.Menu-box > div:hover {
		background-color: theme(colors.sec.3);
	}

	.Loading {
		position: relative;
		overflow: hidden;
		image-rendering: crisp-edges;
		background-color: #0006;
		opacity: 0.5;
	}

	.Loading::before {
		content: "";
		position: absolute;
		inset: 0;
		left: 50%;
		z-index: 0;
		width: 0.77777em;
		background-image: linear-gradient(45deg, transparent 0.11111em, white 0.11111em, white 0.44444em, transparent 0.44444em);
		background-size: 0.66666em 0.11111em;
		background-position: 0.5px 0;
		background-repeat: repeat-y;
		transform: skewX(-45deg);
		/* animation: blade 1.25s cubic-bezier(.3,.44,.7,.56) infinite; */
	}

	@keyframes blade {
		0% {
			left: -50%;
			opacity: 0.3;
		}
		50% {
			left: 50%;
			opacity: 1;
		}
		100% {
			left: 150%;
			opacity: 0.3;
		}
	}
}

@layer utilities {

	.scrollbar-none {
		scrollbar-width: none;
	}
	
	.scrollbar-none::-webkit-scrollbar {
		width: 0;
	}
}