@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*
	┌─────────────────────────────────────────┐
	├--------------PIXEL FONTS----------------┤
	└─────────────────────────────────────────┘
	*/
	
	/* FONTS WHICH EM SIZE = 9 PX */
	
	@font-face {
		font-family: pixeloid;
		font-weight: 400;
		src: url(../fonts/9x/9x-Pixeloid-CY-reg.ttf);
	}
	
	@font-face {
		font-family: pixeloid;
		font-weight: 900;
		src: url(../fonts/9x/9x-Pixeloid-CY-bld.ttf);
	}
	
	@font-face {
		font-family: pixeloid;
		font-weight: 900;
		src: url(../fonts/9x/9x-NineteenNinetySeven.ttf);
		unicode-range: U+40;
	}
	
	@font-face {
		font-family: doab8m;
		font-weight: 900;
		src: url(../fonts/9x/9x-DiaryOfAn8BitMage-CY.ttf);
	}
	
	@font-face {
		font-family: doab8m;
		font-weight: 900;
		src: url(../fonts/9x/9x-SuperLegendBoy.ttf);
		unicode-range: U+40;
	}
	
	@font-face {
		font-family: doab8m;
		font-weight: 900;
		src: url(../fonts/9x/9x-Pixeloid-CY-bld.ttf);
		unicode-range: U+0424, U+0444;
	}

	html {
		font-size: 9px;
	}

	* {
		/* line-height: 1em; */
	}

	*::selection {
		background-color: black;
		color: white;
	}

	/* ICONS */
	
	/* @font-face {
		font-family: ttonicons;
		font-weight: normal;
		src: url();
	}
	
	i.tic {
		font-family: ttonicons;
		font-weight: normal;
		font-style: normal;
	} */

	h1 {
		font-size: 5rem;
		font-family: doab8m;
	}
	
	h2 {
		font-size: 4rem;
		font-weight: 900;
	}
	
	h3 {
		font-size: 4rem;
		font-family: doab8m;
	}
	
	h4 {
		font-size: 3rem;
		font-weight: 900;
	}
	
	h5 {
		font-size: 3rem;
		font-family: doab8m;
	}
	
	h6 {
		font-size: 2rem;
		font-weight: 900;
	}
	
	b {
		font-weight: 900;
	}
	
	em {
		font-family: doab8m;
		font-style: normal;
	}

	u, a {
		text-decoration-thickness: 0.11111em;
	}

	img {
		image-rendering: crisp-edges;
	}

	input:focus {
		outline: none;
	}

	input::placeholder {
		opacity: 0.6;
		color: inherit;
	}

	button:focus-within {
		outline: 3px dashed rgb(228, 204, 243);
	}
}

@layer components {
	
}

@layer utilities {

	.scrollbar-none {
		scrollbar-width: none;
	}
	
	.scrollbar-none::-webkit-scrollbar {
		width: 0;
	}
}