
/*
	Components:			|	Modifiers:
	- buttons			|	- Highlight:
	- checkboxes		|		- active-highlight
	- file inputs		|		- static-highlight
	- text inputs		|	- acc
	- popup				|	- sec
	- radio coll.		|	- square
	- cassette-switcher	|	- compact
*/

/* BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS  BUTTONS */

.btn,
button,
.cassette-switch > label {
	box-sizing: content-box;
	display: inline-block;
	font-size: 1em;
	line-height: 1.2em;
	height: 1em;
	padding: 0.5em;
	margin-bottom: 6px;
	text-align: center;
	color: #150f1a;
	font-family: doab8m;
	border: none;
	user-select: none;
	flex-shrink: 0;
	background-color: transparent;
	text-indent: 0.11111em;
	filter: drop-shadow(0 6px 0 var(--tm-pri-8));
	cursor: pointer;
}

.btn::after,
button::after,
.cassette-switch > label::after {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0px;
	background-color: var(--tm-pri-5);
	clip-path: var(--rebbel-x3);
}

.btn:hover::after,
button:hover::after,
.cassette-switch > label:hover::after {
	background-color: var(--tm-pri-4);
}

.btn:active,
button:active,
.cassette-switch > label:active,
.cassette-switch > input:checked + label {
	top: 6px;
	color: var(--tm-acc-nm);
	filter: drop-shadow(0 -3px 0 var(--tm-pri-6));
}

.btn:active::after,
button:active::after,
.cassette-switch > label:active::after,
.cassette-switch > input:checked + label::after {
	top: 3px;
}

.keybd {
	top: 0px;
	/* box-shadow: 0px 3px 0px 6px #eca99d38, 0px 3px 0px 12px #eca99d1a, 0px 3px 0px 24px #eca99d0e; */
	margin: 0px 3px 6px 3px;
	line-height: 0.88888em;
	filter: none !important;
}

.keybd::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 2px -3px -6px -3px;
	clip-path: var(--rebbel-x3);
	background-color: var(--tm-acc-nm);
	box-shadow: inset 6px 0px 0px var(--tm-sec-nm), inset -6px 0px 0px var(--tm-sec-dk);
}

.keybd:active {
	top: 4px;
	/* color: #f8cec7;
	-webkit-text-stroke: 2px #eca99d86; */
}

.keybd::after {
	box-shadow: inset 0 -2px 0 3px #eca99d2c;
}

.keybd:active::after {
	top: 0px;
	box-shadow: inset 0 -4px 0 6px #eca99d2c, inset 0 -2px 0 3px #eca99d2c;
}

.keybd:active::before {
	top: 0px;
	bottom: -2px;
	box-shadow: none;
}

.btn.-square,
:not(.cassette-switch) > button.-square {
	width: 1em;
	padding-left: 0px;
	padding-right: 0px;
	flex: 0 2em 0;
	text-align: center;
}

.btn.-comp,
:not(.cassette-switch) > button.-square {
	padding: 5px;
}

.btn.-comp.-square {
	width: 1.44444em;
	flex-basis: 1.44444em;
	padding: 0.22222em 0px;
}

.btn.-comp.keybd {
	line-height: 1em;
	margin: 0px 2px 5px 2px;
}

.btn.-comp.keybd::before,
button.-comp.keybd::before {
	inset: 2px -2px -5px -2px;
	box-shadow: inset 5px 0px 0px var(--tm-sec-nm), inset -5px 0px 0px var(--tm-sec-dk);
}

.btn.-comp.keybd:active,
.btn.-ultracomp.keybd:active {
	top: 3px;
}

.btn.-comp.keybd:active::before,
.btn.-ultracomp.keybd:active::before {
	top: 0px;
	bottom: -2px;
}

.btn.-ultracomp {
	padding: 1px 3px 1px 3px;
}

.btn.-ultracomp.keybd,
button.-ultracomp.keybd {
	line-height: 1.22222em;
	margin: 0px 2px 5px 2px;
	padding: 1px;
}

.btn.-ultracomp.-square {
	width: 1em;
	flex-basis: 1em;
	padding: 1px;
}

.btn.-comp.keybd::before,
button.-comp.keybd::before {
	inset: 2px -2px -5px -2px;
	box-shadow: inset 5px 0px 0px var(--tm-sec-nm), inset -5px 0px 0px var(--tm-sec-dk);
}

.btn.-ultracomp::before,
button.-ultracomp::before {
	inset: 1px -2px -5px -2px;
	clip-path: var(--rebbel-x2);
}

.btn.-ultracomp.keybd::before,
button.-ultracomp.keybd::before {
	inset: 2px -2px -5px -2px;
	box-shadow: inset 0px -2px 0px var(--tm-acc-nm), inset 4px 0px 0px var(--tm-sec-nm), inset -4px 0px 0px var(--tm-sec-dk);
}

.btn.-ultracomp::after,
button.-ultracomp::after {
	clip-path: var(--rebbel-x2);
}

/* INPUTS  INPUTS  INPUTS  INPUTS  INPUTS  INPUTS  INPUTS  INPUTS  INPUTS  INPUTS  INPUTS */

.pushed {
	display: inline-block;
	width: fit-content;
	filter: drop-shadow(0 6px 0 var(--tm-pri-8));
	margin-bottom: 6px;
}

.pushed > input {
	display: block;
	clip-path: var(--rebbel-x3);
}

input {
	display: inline-block;
	width: 300px;
	height: 1em;
	padding: 0.5em;
	background-color: var(--tm-pri-6);
	color: #150f1a;
	font-family: "Ubuntu Mono", monospace;
	font-weight: 600;
	font-size: 2rem;
	border: none;
}

input:hover {
	text-decoration: 2px underline solid;
}

input:focus {
	background-color: var(--tm-pri-8);
	box-shadow: inset 0px 0px 0px 3px var(--tm-pri-6);
	color: var(--tm-acc-nm);
}

/* LABELS FOR CHECKBOXES N RADIOS */

input[type=checkbox] + label.btn.-ultracomp.-square,
input[type=radio] + label.btn.-ultracomp.-square {
	display: inline-block;
	font-family: pixeloid;
	font-weight: 900;
	line-height: 1em;
	padding: 0px;
}

input[type=checkbox] + label.btn.-ultracomp.-square:hover,
input[type=radio] + label.btn.-ultracomp.-square:hover {
	color: var(--tm-acc-nm);
}

input[type=checkbox] + label.btn.-ultracomp.-square::after,
input[type=radio] + label.btn.-ultracomp.-square::after {
	box-shadow: none;
}

input[type=checkbox]:not(:checked) + label.btn.-ultracomp.-square,
input[type=radio]:not(:checked) + label.btn.-ultracomp.-square {
	color: transparent;
}

.controls-table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 2rem;
	gap: 1.4em;
}

.cassette-switch { /* text inputs, radios, buttons, checkbox */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	float: left;
}

.cassette-switch > label::after,
.cassette-switch > button::after {
	clip-path: fill-box;
}

.cassette-switch > label:first-child::after,
.cassette-switch > input:first-child + label::after,
.cassette-switch > button:first-child::after {
	clip-path: var(--semirebbel-left-x3);
}

.cassette-switch > label:last-child::after,
.cassette-switch > button:last-child::after {
	clip-path: var(--semirebbel-right-x3);
}

.cassette-switch > input:not(:checked) + label:not(:active) + input:checked + label::after,
.cassette-switch > input:not(:checked) + label + input + label:active::after,
.cassette-switch > button:not(:active) + input:checked + label::after,
.cassette-switch > button + input + label:active::after,
.cassette-switch > input:not(:checked) + label + button:active::after {
	box-shadow: inset 4px 0px 0px var(--tm-pri-6);
}

.controls-table > .cassette-switch {
	flex: 1;
}

.cassette-switch.highlight {
	box-shadow: 0px 6px 0px 3px var(--tm-acc-nm);
}

.controls-table > .fl1, .cassette-switch > .fl1 {
	flex-grow: 1;
	flex-basis: 100%;
}

.controls-table > .fl0, .cassette-switch > .fl0 {
	flex-grow: 0;
}

.controls-table > .wide {
	flex: 1 100% 0;
}

/* #popups {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, #000000c0 25%, #00000054 25%), linear-gradient(-45deg, #000000c0 25%, #00000054 25%), linear-gradient(45deg, #00000054 75%, #000000c0 75%), linear-gradient(-45deg, #00000054 75%, #000000c0 75%);
	background-size: 6px 6px;
	background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
} */

.popup {
	position: fixed;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	margin-right: var(--vw-mod2);
	pointer-events: initial;
	padding: 1em;
	filter: drop-shadow(0 0.33333em 0 var(--tm-pri-8));
}

.popup::before {
	position: absolute;
	content: "";
	inset: 0;
	z-index: -1;
	background-color: var(--tm-pri-4);
	clip-path: var(--rebbel-x3);
}

.popup .content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

form.flagged {
	width: 50px;
	padding: 17px 0px 20px 0px;
	background-color: var(--tm-pri-4);
}

form.flagged input {
	display: none;
}

form.flagged label {
	display: block;
	width: calc(100% - 10px);
	height: 21px;
	text-align: center;
	font-size: 2rem;
	padding: 12px 12px 12px 6px;
	left: 0px;
	line-height: 23px;
	margin-bottom: 9px;
	color: #1a0c0c;
	text-shadow: 3px 0px 0px #ac2020;
	box-shadow: 0px 3px 0px #861f1f;
	background-image: linear-gradient(180deg, #c52323 6px, #eb6138 6px, #eb6138 9px, #c52323 9px, #c52323 36px, #eb6138 36px, #eb6138 39px, #c52323 39px);
	transition: 0.2s steps(4, start);
	cursor: pointer;
}

form.flagged label::selection {
	background-color: transparent;
	color: inherit;
}

form.flagged label:last-child {
	margin-bottom: 0px;
}

form.flagged input:checked + label {
	padding: 12px 12px 12px 16px;
	width: 100%;
}

form.flagged label:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -3px;
	width: 3px;
	height: 100%;
	box-shadow: 0px 3px 0px #861f1f;
	background-image: linear-gradient(180deg, #c52323 6px, #eb6138 6px, #eb6138 9px, #c52323 9px, #c52323 36px, #eb6138 36px, #eb6138 39px, #c52323 39px);
}

form.flagged label:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 21px;
	right: -3px;
	width: 24px;
	height: 3px;
	background-color: #c52323;
	box-shadow: 3px 3px 0px #c52323, 6px 6px 0px #c52323, 9px 9px 0px #c52323, 12px 12px 0px #c52323, 15px 15px 0px #eb6138, 18px 18px 0px #c52323, 21px 21px 0px #c52323,
				3px -3px 0px #c52323, 6px -6px 0px #c52323, 9px -9px 0px #c52323, 12px -12px 0px #c52323, 15px -15px 0px #eb6138, 18px -18px 0px #c52323, 21px -21px 0px #c52323,
				3px 0px 0px #861f1f, 6px -3px 0px #861f1f, 9px -6px 0px #861f1f, 12px -9px 0px #861f1f, 15px -12px 0px #861f1f, 18px -15px 0px #861f1f, 21px -18px 0px #861f1f, 21px 24px 0px #861f1f;
}

.popup i#this-close {
	position: absolute;
	top: -21px;
	right: var(--vw-mod2);
	font-family: pixeloid;
	font-weight: 400;
	width: 10px;
	height: 10px;
	padding: 3px;
	font-size: 2rem;
	color: #fae1db;
	line-height: 0.35em;
	font-style: normal;
	cursor: pointer;
}

.popup i#this-close:hover {
	color: #1a0c0c;
	background-color: var(--tm-acc-nm);
}

#onetitle {
	display: none;
	position: fixed;
	z-index: 9;
	overflow: hidden;
	animation: 0.25s step-end 0s normal forwards onetitle-visibility;
}

#onetitle span {
	width: max-content;
	left: 0px;
	margin: 3px 6px;
	padding: 9px 12px;
	color: #e6d2cf;
	background-color: #1f153f;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat, repeat, repeat;
	background-image: linear-gradient(0deg, var(--tm-acc-nm), var(--tm-acc-nm)), linear-gradient(0deg, var(--tm-acc-nm), var(--tm-acc-nm)), linear-gradient(0deg, var(--tm-acc-nm), var(--tm-acc-nm)), linear-gradient(0deg, var(--tm-acc-nm), var(--tm-acc-nm)), radial-gradient(ellipse at 50% 50%, #140d2c00 50%, #140d2c 80%), linear-gradient(45deg, #140d2c 25%, transparent 25%), linear-gradient(-45deg, #140d2c 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #140d2c 75%), linear-gradient(-45deg, transparent 75%, #140d2c 75%);
	background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 100% 100%, 6px 6px, 6px 6px, 6px 6px, 6px 6px;
	background-position: 0px 3px, 100% 3px, 0px calc(100% - 3px), 100% calc(100% - 3px), 0px 0px, 0px 0px, 0px 3px, 3px -3px, -3px 0px;
	box-shadow: 0px 0px 0px 3px var(--tm-acc-nm);
	float: left;
}

#onetitle::selection {
	color: inherit;
	background-color: transparent;
}

#onetitle span:before, #onetitle span:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 3px;
	width: 3px;
	height: calc(100% - 6px);
	background-color: #140d2c;
}

#onetitle span:before {
	left: -3px;
	box-shadow: -3px 3px 0px var(--tm-acc-nm), -3px -3px 0px var(--tm-acc-nm);
}

#onetitle span:after {
	right: -3px;
	box-shadow: 3px 3px 0px var(--tm-acc-nm), 3px -3px 0px var(--tm-acc-nm);
}

#onetitle.visible {
	display: block;
}

#onetitle[data-anim="right-switch"] span { /* НЕ ПРАЦЮЄ!!! */
	animation: 0.25s steps(10, end) 0s reverse both right-switch;
}

#onetitle[data-anim="right-switch"].visible span {
	animation: 0.25s steps(10, end) 0s normal both right-switch;
}