.wrap {
	display: grid;
	gap: 10px;
	padding: 10px;
}

svg.lightness-saturation-plain {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	overflow: visible;
}

svg > circle, svg > path {
	fill: none;
	stroke-width: 1px;
	/* stroke: #fff; */
	/* filter: url(#inversion); */
}

svg > polygon {
	fill: white;
	stroke-width: 0.75px;
	stroke: black;
	cursor: grab;
}

svg > line {
	fill: none;
	stroke-width: 0.5px;
	/* stroke: white; */
}

/* svg > rect {
	fill: #fff;
	stroke-width: 1px;
	stroke: #fff;
	cursor: pointer;
} */

.hue-scale {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	position: relative;
}

.hue-scale::before {
	position: absolute;
	inset: 0px;
	content: "";
	/* z-index: 1; */
	background-image: linear-gradient(180deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.hue-scale > i {
	position: absolute;
	inset: -3px -3px;
	border-color: transparent white;
	border-width: 5px;
	border-style: solid;
	height: 0px;
	cursor: grab;
	box-shadow: -3px 0 0 white;
	box-sizing: content-box;
}

.compiled-scale {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	background-image: linear-gradient(-90deg, #fff, #000);
}

.palette {
	grid-column: 3 / 4;
	grid-row: 1 / 4;
	overflow: hidden auto;
}

.palette > div {
	height: 32px;
}