.wrap {
	display: grid;
	gap: 10px;
	padding: 10px;
	font-family: monospace;
	line-height: 1.2em;
}

.lightness-saturation-plain {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	overflow: visible;
}

rect, polygon, circle {
	fill: white;
	cursor: grab;
	stroke: #000;
}

.cursor-y-resize {
	cursor: ns-resize;
}

.cursor-x-resize {
	cursor: ew-resize;
}

#bottom-point {
	stroke: none;
}

svg {
	z-index: 10;
}

.switcher {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	text-align: center;
}

.switcher > * {
	cursor: pointer;
}

.switcher > *:hover {
	text-decoration: underline;
}

.switcher > *.active, .switcher > *:active {
	font-weight: 900;
}

.hue-scale {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	position: relative;
}

.hue-scale::before {
	position: absolute;
	inset: 0px;
	content: "";
	/* z-index: 1; */
	background-image: linear-gradient(180deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
	cursor: pointer;
}

canvas {
	overflow: visible;
}

i {
	position: absolute;
	inset: 0px -3px;
	margin: -5px 0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent white;
	height: 0px;
	cursor: grab;
}

i::before {
	content: "";
	border-width: 0px 2px;
	border-style: solid;
	border-color: white;
	position: absolute;
	inset: -5px -7px;
}

/* p {
	position: absolute;
	inset: -3px 0px;
	margin: 0px -5px;
	border-width: 5px;
	border-style: solid;
	border-color: white transparent;
	width: 0px;
	cursor: grab;
}

p::before {
	content: "";
	border-width: 2px 0px;
	border-style: solid;
	border-color: white;
	position: absolute;
	inset: -7px -5px;
} */

.compiled-scale {
	position: relative;
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	overflow: visible;
}

.pre-palette-title {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.palette {
	grid-column: 3 / 4;
	grid-row: 1 / 5;
	overflow: hidden auto;
}

.palette > div {
	height: 32px;
}