
.tUxUIt-theme-picker-svg {
	position: relative;
	overflow: visible;
}

.tUxUIt-theme-picker-svg-pointer {
	fill: white;
	cursor: grab;
	stroke: #000;
	stroke-width: 2px;
	pointer-events: all;
}

.tUxUIt-theme-picker-position-relative {
	position: relative;
}



.special-background {
	background-image: linear-gradient(135deg,
		rgb(var(--color-1)) 0,
		rgb(var(--color-1)) 11.1111%,
		rgb(var(--color-2)) 11.1111%,
		rgb(var(--color-2)) 22.2222%,
		rgb(var(--color-3)) 22.2222%,
		rgb(var(--color-3)) 33.3333%,
		rgb(var(--color-4)) 33.3333%,
		rgb(var(--color-4)) 44.4444%,
		rgb(var(--color-5)) 44.4444%,
		rgb(var(--color-5)) 55.5555%,
		rgb(var(--color-6)) 55.5555%,
		rgb(var(--color-6)) 66.6666%,
		rgb(var(--color-7)) 66.6666%,
		rgb(var(--color-7)) 77.7777%,
		rgb(var(--color-8)) 77.7777%,
		rgb(var(--color-8)) 88.8888%,
		rgb(var(--color-9)) 88.8888%
	);
	inset: 0 -50vh;
	background-size: 100% 2%;
	transform: skew(45deg);
}

.hue {
	background-image: linear-gradient(180deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
	cursor: pointer;
}

.Button {
	color: rgb(var(--color-1));
}

.Button::after {
	background-color: rgb(var(--color-5));
}